<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="PageSize" value="3"/>
  <add key="MaxPage" value="5"/>
  <add key="MaxItemPerLoad" value="10"/>

  <add key="SMTPHost" value="smtp.gmail.com"/>
  <add key="SMTPPort" value="587"/>
  <add key="FromEmailAddress" value="planet.store.contact@gmail.com"/>
  <add key="FromEmailPassword" value="Kaizetran1"/>
  <add key="FromName" value="Planet Store"/>
  <add key="AdminEmail" value="huuthangit.dn@gmail.com"/>

  <add key="FacebookAppId" value="247722675796039"/>
  <add key="FacebookAppSecret" value="d5884e3d88b87ff06fa6294716a78bda"/>

  <add key="GoogleAppId" value="427960096698-dt3bdii5ctj77vfrd1leneb94ou26oi6.apps.googleusercontent.com"/>
  <add key="GoogleAppSecret" value="IX-_gys_GFViQq_Vi-7tCMZU"/>

</appSettings>